---
// Component Imports
import Base from "../layouts/base.astro";

function calcAge(birthday: Date) {
    var ageDifMs = Date.now() - birthday.getTime();
    var ageDate = new Date(ageDifMs);
    return Math.abs(ageDate.getUTCFullYear() - 1970);
}

const age = calcAge(new Date(2003, 3, 14));
---

<Base title="Alve Svarén" tabTitle="Home">
    <section>
        I am a student at the gymnasium NTI Johanneberg studying Information Technology (third/final year), currently {age} years old.

        <h2>Skills</h2>
        <h3>Languages</h3>
        <ul>
            <li>Python</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Ruby</li>
            <li>Dart</li>
            <li>C++</li>
            <li>C#</li>
            <li>Java</li>
            <li>QML</li>
            <li>Bash</li>
        </ul>

        <h3>Technology</h3>
        <ul>
            <li>React</li>
            <li>React Native</li>
            <li>HTML + CSS/SCSS</li>
            <li>Flutter</li>
            <li>Unity</li>
            <li>
                Linux
                <ul>
                    <li>Arch</li>
                    <li>Debian</li>
                    <li>Ubuntu</li>
                </ul>
            </li>
            <li>MySQL/MariaDB</li>
            <li>Docker</li>
            <li>Git</li>
            <li>Nginx</li>
            <li>SSH</li>
        </ul>
    </section>
    <section id="contact">
        <h2>Contact</h2>

        <p>PGP fingerprint: <code class="pre select">975D 51E8 7E37 C570 2E9C{'  '}32D9 F8D0 AD40 30FA C97D</code></p>
        <p>Email: <a href="mailto:alve@svaren.dev">alve@svaren.dev</a></p>
        <p>Discord: <span class="select">Alve#0001</span></p>
    </section>
</Base>
