---
// Component Imports
import Base from "../layouts/base.astro";

// Data Fetching: List all Markdown posts in the repo.
const projects = Astro.fetchContent("./project/**/*.md");
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Base title="Alve Svarén" tabTitle="Home">
    <section>

    </section>
    <section id="contact">
        <h2>Contact</h2>

        <p>PGP fingerprint: <code class="pre">975D 51E8 7E37 C570 2E9C{'  '}32D9 F8D0 AD40 30FA C97D</code></p>
        <p>Email: <a href="mailto:alve@svaren.dev">alve@svaren.dev</a></p>
    </section>
</Base>
