---
// Component Imports
import Base from "../layouts/base.astro";

function calcAge(birthday: Date) {
    var ageDifMs = Date.now() - birthday.getTime();
    var ageDate = new Date(ageDifMs);
    return Math.abs(ageDate.getUTCFullYear() - 1970);
}

const age = calcAge(new Date(2003, 3, 14));
---

<Base title="Alve Svarén" tabTitle="Home" description="Alve Svarén is a full-stack web developer">
    <section>
        <p>I am a full-stack web developer, currently {age} years old.</p>

        <h2>Skills</h2>
        <h3>Languages</h3>
        <ul>
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Ruby</li>
            <li>C#</li>
            <li>C++</li>
            <li>Dart</li>
            <li>Java</li>
            <li>Bash</li>
        </ul>

        <h3>Technology</h3>
        <ul>
            <li>React and React Native</li>
            <li>HTML + CSS/SCSS</li>
            <li>Flutter</li>
            <li>Unity</li>
            <li>
                Linux
                <ul>
                    <li>Arch</li>
                    <li>Debian</li>
                    <li>Ubuntu</li>
                </ul>
            </li>
            <li>SQL (MySQL/MariaDB/SQLite)</li>
            <li>Prisma ORM</li>
            <li>Docker</li>
            <li>Git</li>
            <li>Nginx</li>
        </ul>
    </section>
    <section>
        <h2>Education</h2>

        <p>
            2019 - 2022:
            <br />
            <a href="https://www.ntigymnasiet.se/johanneberg/">NTI Johanneberg Gymnasium, Göteborg, Sweden</a>
            <br />
            Information technology
        </p>
    </section>
    <section id="contact">
        <h2>Contact</h2>

        <p>PGP fingerprint: <code class="pre select">975D 51E8 7E37 C570 2E9C{'  '}32D9 F8D0 AD40 30FA C97D</code></p>
        <p>Email: <a href="mailto:alve@svaren.dev">alve@svaren.dev</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/alve-svar%C3%A9n-9a1a0a1a1/">Alve Svarén</a></p>
        <p>Discord: <span class="select">Alve#0001</span></p>
    </section>
</Base>
