---
import Base from "../layouts/base.astro";

interface Project {
    title: string;
    date: string;
    repo?: string;
    description: string;
    tags: string[];
}

const projects = Astro.fetchContent<Project>("./project/**/*.md")
    .filter(({ date }) => !!date)
    .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---

<Base title="Projects">
    {projects.map((project) => (
        <article>
            <h2>
                <a href={project.url}>{project.title}</a>
            </h2>
            <p>{project.description}</p>
        </article>
    ))}
</Base>
