---
import NavBar from '../components/navbar.tsx';
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin={""} />
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href={Astro.resolve("../styles/global.scss")} />
    </head>
    <body>
        <NavBar />
        <main>
            <h1>{title}</h1>
            <slot />
        </main>
        <footer>footer</footer>
    </body>
</html>
